h1 {
  --background: #ffffff;
  --foreground: #262626;

  --card: #ffffff;

  --card-foreground: #262626;

  --popover: #ffffff;

  --popover-foreground: #262626;

  --primary: #404040 (gray);

  --primary-foreground: #fcfcfc (off-white);

  --secondary: #f8f8f8 (light gray);

  --secondary-foreground: #404040;

  --muted: #f8f8f8;

  --muted-foreground: #8f8f8f (medium gray);

  --accent: #f8f8f8;

  --accent-foreground: #404040;

  --destructive: #e53e3e (red);

  --destructive-foreground: #e53e3e;

  --border: #ebebeb (very light gray);

  --input: #ebebeb;

  --ring: #b4b4b4 (light-medium gray);

  --chart-1: #ed8936 (orange);

  --chart-2: #38b2ac (teal);

  --chart-3: #4299e1 (blue);

  --chart-4: #f6e05e (yellow);

  --chart-5: #f687b3 (pink);

  --sidebar: #fcfcfc;

  --sidebar-foreground: #262626;

  --sidebar-primary: #404040;

  --sidebar-primary-foreground: #fcfcfc;

  --sidebar-accent: #f8f8f8;

  --sidebar-accent-foreground: #404040;

  --sidebar-border: #ebebeb;

  --sidebar-ring: #b4b4b4;
}

section {
  --background: #262626;

  --foreground: #fcfcfc;

  --card: #262626;

  --card-foreground: #fcfcfc;

  --popover: #262626;

  --popover-foreground: #fcfcfc;

  --primary: #fcfcfc;

  --primary-foreground: #404040;

  --secondary: #444444 (dark gray);

  --secondary-foreground: #fcfcfc;

  --muted: #444444;

  --muted-foreground: #b4b4b4;

  --accent: #444444;

  --accent-foreground: #fcfcfc;

  --destructive: #c53030 (dark red);

  --destructive-foreground: #e53e3e;

  --border: #444444;

  --input: #444444;

  --ring: #707070 (gray);

  --chart-1: #5a67d8 (indigo);

  --chart-2: #38a169 (green);

  --chart-3: #f687b3 (pink);

  --chart-4: #9f7aea (purple);

  --chart-5: #ed8936 (orange);

  --sidebar: #404040;

  --sidebar-foreground: #fcfcfc;

  --sidebar-primary: #5a67d8;

  --sidebar-primary-foreground: #fcfcfc;

  --sidebar-accent: #444444;

  --sidebar-accent-foreground: #fcfcfc;

  --sidebar-border: #444444;

  --sidebar-ring: #707070;
}
